<form fxLyout="column">
  <mat-form-field appearance="outline">
    <mat-label>Project Name</mat-label>
    <input matInput required value="Sapeso Drodo Community" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Energy Requirement</mat-label>
    <input matInput required value="500" />
    <span matSuffix>kWh</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Non-shaded area available</mat-label>
    <input matInput required value="72000" />
    <span matSuffix>Sq Ft.</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <textarea cdkTextareaAutosize matInput required>
2278 Daffodil Dr&#13;&#10;Angola&#13;&#10;South Africa</textarea
    >
  </mat-form-field>

  <br />

  <label for="">Document CheckList</label>
  <br />
  <br />
  <div fxLayout="column" fxLayoutGap="1em">
    <div fxLayoutAlign="space-between center">
      <mat-checkbox checked>Collateral Document</mat-checkbox>
      <button type="button" mat-flat-button color="accent">Browse</button>
    </div>
    <div fxLayoutAlign="space-between center">
      <mat-checkbox checked>ID Proof</mat-checkbox>
      <button type="button" mat-flat-button color="accent">Browse</button>
    </div>
  </div>
  <br />

  <br />

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-stroked-button routerLink="/home">Cancel</a>
    <div fxLayoutGap="1em">
      <button type="button" mat-raised-button color="primary">Save</button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="onContinue()"
      >
        Continue
      </button>
    </div>
  </div>
</form>
