<form fxLayout="column" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Amount to Donate</mat-label>
    <input matInput />
  </mat-form-field>
  <h4>Choose NGO</h4>
  <div fxLayout="row" fxLayoutGap="1em">
    <mat-form-field appearance="outline">
      <mat-label>By Location</mat-label>
      <mat-select multiple>
        <ng-container *ngFor="let location of locations">
          <mat-option [value]="location.value">{{ location.key }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>By Theme</mat-label>
      <mat-select multiple>
        <mat-option>Education</mat-option>
        <mat-option>Healthcare</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-radio-group fxLayout="column" fxLayoutGap="1em">
    <mat-radio-button value="1">NGO 1</mat-radio-button>
    <mat-radio-button value="2">NGO 2</mat-radio-button>
  </mat-radio-group>

  <br />

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <a mat-stroked-button routerLink="/home">Cancel</a>
    <button type="button" mat-raised-button color="primary">Pay</button>
  </div>
</form>
