<form fxLayout="column">
  <h4 class="mat-subheading-1">Panel Sourcing</h4>

  <mat-form-field appearance="outline">
    <mat-label>Panel Cost</mat-label>
    <input matInput value="1020" />
    <span matSuffix>$</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Logistics Partner</mat-label>
    <textarea cdkTextareaAutosize matInput required>
Reinhardt Transport Ltd&#13;&#10;29 Station Rd&#13;&#10;Nigel&#13;&#10;South Africa</textarea
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transportation Cost</mat-label>
    <input matInput value="346" />
    <span matSuffix>$</span>
  </mat-form-field>

  <h4 class="mat-subheading-1">Installation</h4>

  <mat-form-field appearance="outline">
    <mat-label>Installation Partner</mat-label>
    <textarea cdkTextareaAutosize matInput required>
AdSolarTech&#13;&#10;10 Kerk Straat&#13;&#10;Mpumalanga&#13;&#10;South Africa</textarea
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Installation Cost</mat-label>
    <input matInput value="200" />
    <span matSuffix>$</span>
  </mat-form-field>

  <h4 class="mat-subheading-1">Inspection & Connection</h4>

  <mat-form-field appearance="outline">
    <mat-label>Fees</mat-label>
    <input matInput value="20" />
    <span matSuffix>$</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Connection Charges</mat-label>
    <input matInput value="10" />
    <span matSuffix>$</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Misc Charges</mat-label>
    <input matInput value="0" />
    <span matSuffix>$</span>
  </mat-form-field>

  <div fxLayoutAlign="space-between">
    <h3 class="mat-title">$ 1596</h3>
    <h3 class="mat-title">Total Project Cost</h3>
  </div>

  <br />
  <div fxLayoutAlign="space-between center">
    <button mat-stroked-button type="button" (click)="onCancel()">
      Cancel
    </button>
    <div fxLayoutGap="1em">
      <button mat-raised-button color="accent" type="button">Save Draft</button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onContinue()"
      >
        Continue
      </button>
    </div>
  </div>
</form>
