<app-step-progress [step]="2"></app-step-progress>
<br />
<h2 class="mat-headline">Buyer Seller Matching</h2>
<app-project-card></app-project-card>
<br />
<br />
<h2 class="mat-headline">Your Personalised Matches</h2>
<div fxLayout="column" fxLayoutGap="1em">
  <ng-container *ngFor="let group of groups">
    <mat-card class="mat-elevation-z8">
      <app-match-result [matches]="group.value"></app-match-result>
    </mat-card>
  </ng-container>
</div>
<br />
<br />
<div fxLayoutAlign="space-between center">
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="accent" (click)="onChoose()">
    Find the Next Best Option
  </button>
</div>
