<div fxLayoutAlign="space-between stretch" fxLayoutGap="1em">
  <mat-card class="mat-elevation-z8">
    <h4 class="mat-subheading-2">Seller</h4>

    <div fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <button fxFlex mat-stroked-button>Seller's Agreement</button>
      <div fxLayoutAlign="end center" fxLayoutGap="1em">
        <button mat-raised-button color="accent">Review</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>

    <div fxLayoutAlign="start center" fxLayoutGap="1em">
      <p class="label mat-caption">Approval Status</p>
      <p class="mat-body-2 approved">Approved</p>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <h4 class="mat-subheading-2">Installer</h4>

    <div fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <button fxFlex mat-stroked-button>Project Cost Proposal</button>
      <div fxLayoutAlign="end center" fxLayoutGap="1em">
        <button mat-raised-button color="accent">Review</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>

    <div fxLayoutAlign="start center" fxLayoutGap="1em">
      <p class="label mat-caption">Approval Status</p>
      <p class="mat-body-2 in-progress">In Progress</p>
    </div>
  </mat-card>

  <mat-card class="mat-elevation-z8">
    <h4 class="mat-subheading-2">Buyer</h4>

    <div fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <button fxFlex mat-stroked-button>Collateral Documents</button>
      <div fxLayoutAlign="end center" fxLayoutGap="1em">
        <button mat-raised-button color="accent">Review</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>

    <div fxLayoutAlign="start center" fxLayoutGap="1em">
      <p class="label mat-caption">Approval Status</p>
      <p class="mat-body-2 rejected">Rejected</p>
    </div>

    <div fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <button fxFlex mat-stroked-button>Buyer's personal details</button>
      <div fxLayoutAlign="end center" fxLayoutGap="1em">
        <button mat-raised-button color="accent">Review</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>

    <div fxLayoutAlign="start center" fxLayoutGap="1em">
      <p class="label mat-caption">Approval Status</p>
      <p class="mat-body-2 pending">Pending</p>
    </div>
  </mat-card>
</div>
