<mat-card fxLayout="column" fxLayoutGap="1em" class="mat-elevation-z8">
  <div fxLayout="space-between center" fxLayoutGap="1em">
    <div fxFlex="calc(33%-1em)" fxLayout="column">
      <h4 class="mat-subheading-1">Panel Sourcing</h4>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Panel Cost:</p>
        <p class="value mat-body-2">$ 1020</p>
      </div>
      <div fxLayoutAlign="start start">
        <p class="label mat-body-1">Logistics Partner:</p>
        <p class="value mat-body-2">
          Reinhardt Transport Ltd<br />29 Station Rd<br />Nigel<br />South
          Africa
        </p>
      </div>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Transportation Cost:</p>
        <p class="value mat-body-2">$ 346</p>
      </div>
    </div>
    <div fxFlex="calc(33%-1em)" fxLayout="column">
      <h4 class="mat-subheading-1">Installation</h4>
      <div fxLayoutAlign="start start">
        <p class="label mat-body-1">Installation Partner:</p>
        <p class="value mat-body-2">
          AdSolarTech<br />10 Kerk Straat<br />Mpumalanga<br />South Africa
        </p>
      </div>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Installation Cost:</p>
        <p class="value mat-body-2">$ 200</p>
      </div>
    </div>
    <div fxFlex="calc(33%-1em)" fxLayout="column">
      <h4 class="mat-subheading-1">Inspection & Connection</h4>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Fees:</p>
        <p class="value mat-body-2">$ 20</p>
      </div>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Connection Charges:</p>
        <p class="value mat-body-2">$ 10</p>
      </div>
      <div fxLayoutAlign="start center">
        <p class="label mat-body-1">Misc Charges:</p>
        <p class="value mat-body-2">$ 200</p>
      </div>
    </div>
  </div>
  <br />
</mat-card>
