<div class="container">
    <div class="header-flex-container">
        <div class="heading-1">
            <div class="main-heading">
                Affordable, sustainable
                <br />
                energy solutions for all.
            </div>
            <div class="sub-heading">
                We support transition to a low-carbon economy by reusing discarded and decommissioned solar panels.
            </div>
        </div>
        <div class="heading-2">
            <div class="heading-2-main-heading">
                CO2 Emission Reduced
            </div>
            <div class="heading-2-sub-heading">
                25.5 tons/year
            </div>
        </div>
    </div>
    <div class="graph-flex-container">
        <div class="meter-graph">
            <div class="heading">
                Crowd funding - Be a part of the Journey
            </div>

            <div class="sub-text">
                Each return for your investment at a fixed rate,
                <br />
                while the community benefits.
            </div>
            <risk-profile-meter></risk-profile-meter>
            <div class="value-div">
                <div class="start">
                    0 %
                </div>
                <div class="end">
                    100 %
                </div>
            </div>
            <div class="label-div">
                <div class="right">
                    Received
                </div>
                <div class="left">
                    Target
                </div>
            </div>
        </div>
        <div class="donut-graph">
            <donut-chart></donut-chart>
        </div>
    </div>
</div>