.mat-display-2 {
  margin-bottom: 1em;
}
.image {
  img {
    width: 100%;
    border: 1px solid #e1e1e1;
  }
}
.image-2 {
  img {
    width: calc(100% - 2em);
    padding: 1em;
    border: 1px solid #e1e1e1;
  }
}
