<div fxLayout="column" fxLayoutGap="4em">
  <div fxLayoutAlign="space-between stretch" fxLayoutGap="4em">
    <div fxFlex>
      <h1 class="mat-display-2">
        Affordable, sustainable <br />
        energy solutions for all.
      </h1>
      <p class="mat-subheading">
        We support transition to a low-carbon economy by reusing discarded and
        decommissioned solar panels.
      </p>
      <div fxLayoutAlign="start center" fxLayoutGap="1em">
        <a routerLink="/buy" mat-raised-button color="accent">Buy Panels</a>
        <a routerLink="/sell" mat-raised-button color="primary"
          >Sell / Donate Panels</a
        >
      </div>
    </div>
    <mat-card fxLayout="column" fxLayoutAlign="center" class="mat-elevation-z8">
      <h3 class="mat-headline">CO2 Emission Reduced</h3>
      <p class="mat-display-3">25.5 tons/year</p>
    </mat-card>
  </div>
  <div fxLayoutAlign="space-between stretch" fxLayoutGap="4em">
    <mat-card fxFlex class="mat-elevation-z8">
      <app-profile-meter-chart></app-profile-meter-chart>
    </mat-card>
    <mat-card fxFlex class="mat-elevation-z8">
      <app-donut-chart></app-donut-chart>
    </mat-card>
  </div>
</div>
