<mat-card fxLayout="column" fxLayoutGap="1em" class="mat-elevation-z8">
  <div fxLayoutAlign="space-between center">
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Project Name:</p>
      <p class="value"><b>Igloo</b></p>
    </div>
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Project Status:</p>
      <p class="value"><b>New</b></p>
    </div>
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Approved Amount:</p>
      <p class="value"></p>
    </div>
  </div>
  <div fxLayoutAlign="space-between center">
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Panels Required:</p>
      <p class="value"><b>5 KWH</b></p>
    </div>
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Location:</p>
      <p class="value"><b>Nigeria</b></p>
    </div>
    <div fxFlex fxLayoutAlign="start center">
      <p class="label">Loan Status:</p>
      <p class="value"></p>
    </div>
  </div>
</mat-card>
