<div fxLayout="column" fxLayoutFill>
  <div>
    <mat-toolbar>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="toolbar"
        >
          <div>
            <span>ENFOLL</span>
          </div>
          <div>
            <a mat-button routerLink="home">Home</a>
            <button mat-button [matMenuTriggerFor]="menu">Contribute</button>
            <button mat-button>Services</button>
            <button mat-button>Sign In</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlgin="start center">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
      <div class="page">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="donate">Donate</a>
  <a mat-menu-item routerLink="sell">Donate / Sell Solar Panels</a>
  <a mat-menu-item routerLink="buy">Buy Solar Panels</a>
</mat-menu>
