.spacer {
  flex: 1 1 auto;
}

.toolbar,
.page {
  width: 100%;
  max-width: 1200px;
}

.page {
  margin: 2em 0;
  padding: 0 2em;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 2em;
}

.mat-button {
  margin-left: 2em;
}
