<app-step-progress [step]="4"></app-step-progress>
<br />
<h2 class="mat-headline">Loan Origination</h2>
<app-project-card></app-project-card>
<br />
<br />
<h2 class="mat-headline">Status: <small>In Progress</small></h2>
<h3 class="mat-headline">Components</h3>
<app-loan-status-form></app-loan-status-form>

<br />
<br />

<div fxLayoutAlign="space-between center">
  <button mat-stroked-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onChoose()">
    Complete
  </button>
</div>
